<div data-controller="product-card" data-product-id="<%= product.id %>"> <!-- create a container for our new component -->
  <%= link_to product_path(product), style: "text-decoration: none;" do %>
    <div class="m-2 p-2 d-flex flex-row justify-content-between card card-dashboard">
      <div class="text-white p-1">
        <h5 class="m-0"><%= product.name %></h5>
        <p class="mb-2 text-muted" ><%= product.ticker %></p>
        <h3 class="font-weight-bold" data-product-card-target="price"><%= price.round(2) if defined? price %></h3>
      </div>
      <div class="stock-card-chart">
        <%= line_chart charts_stock_price_history_path(product), points: false, xmin: Date.today - 30, xmax: Date.today, height: "100%"  %>
      </div>
    </div>
  <% end %>
</div>
