<button type="button" data-toggle="modal" data-target="#myModal">Launch modal</button>
<div class="container-fluid">
  <div class="row">
    <div class='col-8'>
      <div class="card card-trip">
        <h2 class="text-center">$<%= number_with_delimiter(@total_valuation.round(2), delimiter: ",") %></h2>
        <%= line_chart charts_valuation_history_path, points: false, min: current_user.valuations.map { |valuation| valuation.total_valuation }.min - 3000 %>
      </div>
    </div>
    <div class="col-4">
      <div id="user-stock" class="card card-trip p-4">
        <h2>My stocks</h2>
        <% @user.products.each do |product| %>
        <ul>
          <li>
            <%= link_to  "#{product.name}", product_path(product) %>, <%= link_to  "#{product.ticker}", product_path(product) %>
          </li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="mt-3 col-8 stock-cards">
  <% @product_price_pair.each do |product_price_pair| %>
  <%= render 'users/small-card', product: product_price_pair[0], price: product_price_pair[1] %>
  <% end %>
</div>

<div id="myModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= render 'purchases/form' %>
  </div>
</div>

