<div class="px-5 pb-5">
  <%= simple_form_for purchase do |f| %>
  <div class="d-flex justify-content-between">
  <% bitflyer_supported = ['BTC', 'BCH', 'ETH'] %>
  <%= f.association :product, wrapper_html: {style: "width: 45%;"}, collection: bitflyer_supported.map {|ticker| Product.find_by(ticker: ticker) } %>
  <%= f.association :platform, wrapper_html: {style: "width: 45%;"}, collection: [Platform.find_by(name: 'bitFlyer')] %>
  </div>
  <%= f.input :price_at_purchase, label: 'Order amount', input_html: { min: 1 } %>
  <%= f.input :shares, label: 'Number of shares', as: :float, input_html: { min: 1} %>
  <%= f.input :date, as: :hidden, input_html: { value: DateTime.now }  %>
  <!-- <#%= f.input :date, as: :date, html5: true  %> -->
  <!-- <p>Estimated cost: <#%=  %></p> -->
  <%= f.submit 'Save', class: "btn btn-primary" %>
  <% end %>
</div>
