<div class="m-5 shadow">
  <div class="news-card d-flex">
    <div class="news-picture">
      <%= image_tag article[:image], alt: "alttext" %>
    </div>
    <div class="news-card-body d-flex flex-column justify-content-between">
      <div>
        <h5 class="card-subtitle mb-2 text-white"><%= article[:headline] %></h5>
        <p class="card-subtitle mb-2 text-muted"><%= article[:source] %></p>
      </div>
      <% if article[:summary]&.length > 150  %>
        <p><%= article[:summary]&.slice(0..150) %>...</p>
      <% else %>
        <p><%= article[:summary] %></p>
      <% end %>
      <%= link_to "See full article", article[:url]%>
    </div>
  </div>
</div>
