<div class="m-5 shadow">
  <div class="news-card d-flex">
    <div class="news-picture">
      <% if article['image'].split(/(?=https)/).count == 1 %>
      <% link = article['image'] %>
      <% else %>
      <% link = article['image'].split(/(?=https)/)[1] %>
      <% end %>
      <%= image_tag link, alt: "alttext" %>
    </div>
    <div class="news-card-body d-flex flex-column justify-content-between">
      <div>
        <h5 class="card-subtitle mb-2"><%= article['title'] %></h5>
        <p class="card-subtitle mb-2 text-muted"><%= article['source'] %></p>
      </div>
      <p><%= article['summary'] %></p>
      <%= link_to "See full article", article['url']%>
    </div>
  </div>
</div>
