<%# Product details, platforms, shares, graph news, link to platform %>
<div class="container">
  <h1 class="mb-3"><%= @product.name %>, <%= @product.ticker %></h1>
</div>
<div class="container-fluid">
  <div class="row ml-4">
    <div class="col-8">
      <div class="card card-trip">
        <%= line_chart charts_stock_price_history_path(@product), points: false, xmin: "2020-12-01", xmax: "2021-03-01"  %>
      </div>
      <div class="card-show card-trip">
        <div>
          <h2><%= @product.name %>, <%= @product.ticker %></h2>
        </div>
        <div>
          <%= @purchases.sum(:shares) %>
        </div>
      </div>
    </div>
  </div>
  <% @articles.each do |article| %>
    <%= render "news_card", article: article %>
  <% end %>
</div>
