<%# Product details, platforms, shares, graph news, link to platform %>
<div class="container">
  <h1><%= @product.name %>, <%= @product.ticker %></h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <div class="card card-trip">
        <%= line_chart @purchases.group(:date).sum(:shares) %>
      </div>
    </div>      
      <div class="card-show card-trip">
        <div>
          <h2><%= @product.name %>, <%= @product.ticker %></h2>
        </div>
        <div>
          <%= @purchases.sum(:shares) %>
          <%= @purchases.first.platform.name %>
        </div>
      </div>
    </div>
  </div>
</div>

